body {
  background: blue;
}

textarea{
  border: 3px solid black;
  font-size: 1.8vw;
  height: 12vw;
  width: 40%
  padding: 0.5vw;
}
span{
  list-style-type: none;
  font-size: 1.4vw;
  color: gold;
}
