div.first_tittle {
  height: 45vw;
  background-image: url('forest.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Cousine;
  color: white;
  $font_size: 4vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3, h5 {
          margin: 1vw 0;
          text-shadow: 0.2vw 0.1vw black;
  }

    h3 {
      font-size: $font_size;
    }

    h5 {
      font-size: $font_size*0.6;
    }
}
