section {
  margin: 5vw auto;
  border: 1px solid black;
  height: 30vw;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: 100% 200%;
}

section:first-of-type{
  background-image: url(../../images/mysprite.png);
  background-position: 0 0;
}

section:last-of-type{
  background-image: url(../../images/mysprite.png);
  background-position: 0 100%;
}
