body {
  margin: 0;
}

body main {
  width: 80vw;
  margin: 5vw auto;
  display: grid;
  border: 0.1vw solid black;
  grid-template: repeat(9, 7vw) / repeat(7, 1fr);
  grid-gap: 1vw 0.5vw;
}

main div:first-of-type {
  background: blue;
  grid-area: 1 / 1 / span 2 / span 7;
}

main div:last-of-type {
  background: black;
  grid-area: 8 / 1 / span 2 / span 7;
}

main div:nth-of-type(2) {
  background: orange;
  grid-area: 3 / 1 / span 2 / span 5;
}

main div:nth-of-type(3) {
  background: green;
  grid-area: 3 / 6 / span 4 / span 2;
}

main div:nth-of-type(4) {
  background: deepskyblue;
  grid-area: 5 / 1 / span 1 / span 2;
}

main div:nth-of-type(5) {
  background: brown;
  grid-area: 5 / 3 / span 2 / span 1;
}

main div:nth-of-type(6) {
  background: rebeccapurple;
  grid-area: 5 / 4 / span 2 / span 1;
}

main div:nth-of-type(7) {
  background: purple;
  grid-area: 5 / 5 / span 2 / span 1;
}

main div:nth-of-type(8) {
  background: yellow;
  grid-area: 6 / 1 / span 2 / span 2;
}

main div:nth-of-type(9) {
  background: red;
  grid-area: 7 / 3 / span 1 / span 5;
}
