
div {
  border: 3px solid black;
}


div:first-of-type {
  $width: 80vw;
  $height: $width*(20/100);
  width: $width;
  height: $height;
}

div:last-of-type {
  $height: 12vw;
  $width: 6.5;
  height: 12vw;
  width: ($height*$width);

}
