nav {
  background: lightblue;
  display: flex;
  justify-content: center;
}

nav > a {
  text-decoration: none;
  color: white;
  font-family: tahoma;
  font-size: 2.5vw;
  padding: 1vw 1.5vw;
}

@media screen and (max-width:800px) {

  nav {
    flex-direction: column;
  }

}

@media screen and (max-width:400px) {

  nav > a {
    font-size: 6vw;
    padding: 2vw 1vw;
  }

}
