body {
  margin: 0;
}

nav {
  background: cyan;
  text-align: center;
}

nav > a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

nav > a:hover {
  background: white;
  color: cyan;
}

nav > a, nav > button {
  font-family: verdana;
  padding: 2vw 1.5vw;
  font-size: 3vw;
}

nav > button {
  background: transparent;
  border: none;
}

nav > button:hover {
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  nav {
    background: green;
  }
  nav > a {
    font-size: 4vw;
  }

  nav > a:hover {
    background: white;
    color: green;
  }
}
