body {
  width: 80vw;
  height: 40vw;
  border: 1px solid black;
}


div {
  background: blue;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  position:relative;
}

p {
  color: white;
  font-size: 2vw;
  position:absolute;
  top:30%;
  left:30%;
}

@keyframes bouncingball {
  0% {transform: translate(0, 15vw) rotate(30deg); background:blue;}
  25% {transform: translate(35vw, 0) rotate(80deg); background: green;}
  50% {transform: translate(70vw, 15vw) rotate(150deg); background: red;}
  75% {transform: translate(35vw, 30vw) rotate(220deg); background: gold;}
  100% {transform: translate(0, 15vw) rotate(360deg); background: blue;}
}

div {
animation: bouncingball 5s linear infinite
}
